---

---


/* Colors */
;
$background-color: #20e15a !default;
$text-color: #5112da !default;
$primary-color: #b6d25a !default;
$border-color: mix(#20c9be, $background-color, 20%) !default;
$code-background-color: mix(#ffffff, $background-color, 15%) !default;
$code-background-color-dark: mix(#000000, $background-color, 20%) !default;
$form-background-color: mix(#b30c0c, $background-color, 15%) !default;
$footer-background-color: mix(#741f95, $background-color, 30%) !default;
$link-color: mix($primary-color, $text-color, 40%) !default;
$link-color-hover: mix(#55db1c, $link-color, 25%) !default;
$link-color-visited: mix(#20a064636, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";